<!DOCTYPE html>
    <html lang="pt-br">
    <head>
            <meta charset="UTF-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="">
                <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">
                <title>Login</title>
                <!-- Folhas de estilo -->
                <link rel="stylesheet" href="/src/app/login/login.component.css">

                <!--Swiper-->
                <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>



            <!-- CSS do cabeçalho -->
            <!-- <link rel="stylesheet" href="../../assets/css/cabecalho/cabecalho.css">
            <link rel="stylesheet" href="../../assets/css/cabecalho/navegacao.css">
            <link rel="stylesheet" href="../../assets/css/menu/menu.css"> -->

                <!-- Estilos -->





                <!-- Ícones do Rodapé-->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

                <!-- Fontes -->
                <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans:wght@500&display=swap" rel="stylesheet"> -->
        </head>
        <body>
            <header class="cabecalho">
                <div class="cabecalho-container">
                    <!-- Logo -->
                    <!-- <div  class="cabecalho-logo">Tractor Muscle</div> -->
                    <!-- <a class="cabecalho-logo" href="#inicio">
                        <img class="logo__image" src="assets/img/logotipo2.png" alt=" Tractor Muscle" width="80" height="55">

                    </a> -->
                    <a class="logo__nome">Tractor Muscle</a>

                <!-- Navegação -->
                 <nav class="cabecalho__navegacao" data-navegacao>
                   
                <div class="cabecalho__menu">
                    <i class="ri-close-line ri-lg" data-fechar></i>
                    
                    <span class="cabecalho__item-menu--logo">
                        <img src="/src/assets/img/logotipo2.png" alt="Logo Tractor Muscle">
                        </span>
                        <a href="#tractormuscle" class="cabecalho__item-menu">
                            <span class="cabecalho__menu-texto">
                                <button class="geral__botao primary-button">Página inicial</button>
                            </span>
                        </a>
                        <a href="#blog" class="cabecalho__item-menu">
                            <span class="cabecalho__menu-texto">
                                <button class="geral__botao secundary-button">Blog</button>
                            </span>
                        </a>
                        <a href="#sobrenos" class="cabecalho__item-menu">
                            <span class="cabecalho__menu-texto">
                                <button class="geral__botao secundary-button">Sobre</button>
                            </span>
                        </a>
                        <a href="#contato" class="cabecalho__item-menu">
                            <span class="cabecalho__menu-texto">
                                <button class="geral__botao secundary-button">Contato</button>
                            </span>
                        </a>
                    </div>
                    <div class= "menu__icon icon-menu"></div>
                    <div class="menu__icon icon-close"></div>
              

                </nav>

                
            </div>

            </header>
           <main class="home">
            @if(!verificacaoConcluida){
                <div  class="loading">
                    <p>Verificando seu perfil...</p>
                </div>
            }@else{
                

                @if(perfilUsuarioExiste){
                    <div class="menu">
                      <div class="menu-opcoes">
                        <button class="btn-menu" (click)="VisualizarTreino()">Visualizar treino</button>
                        <button class="btn-menu" >Histórico</button>
                      </div>
      
                      <div class="menu-opcoes">
      
                        <button class="btn-menu" >Conquistas</button>
                        <button class="btn-menu" >Novo treino</button>
      
                      </div>
      
                    </div>
                  }@else {
                    <div class="usuario-home">
                        <h1>Olá, {{ usuario?.nome }} {{ usuario?.sobrenome }}!</h1>
                      </div>
                      
                    <div class="container-plano-treino">
      
                      <h1>Iniciar plano de treino personalizado</h1>
      
                      <button class="btn-iniciar-plano" (click)="irParaAnalisePlano()">Iniciar</button>
                </div>
                  }
            }
            
           </main>
        </body>
    </html>
