<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content=".">
            <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">
            <title>Login</title>
            <!-- Folhas de estilo -->
            <link rel="stylesheet" href="/src/app/components/cadastro/cadastro.component.css">

            <!--Swiper-->
            <link
        rel="stylesheet"
        href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>



        <!-- CSS do cabeçalho -->
        <!-- <link rel="stylesheet" href="../../assets/css/cabecalho/cabecalho.css">
        <link rel="stylesheet" href="../../assets/css/cabecalho/navegacao.css">
        <link rel="stylesheet" href="../../assets/css/menu/menu.css"> -->

            <!-- Estilos -->

        <!-- Folhas de estilo -->
        <!-- <link rel="stylesheet" href="../../assets/css/cadastro/cadastro.css"> -->





            <!-- Ícones do Rodapé-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

            <!-- Fontes -->
            <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans:wght@500&display=swap" rel="stylesheet"> -->
    </head>
    <body>
      <main class="container">
        <div class="container-plano-treino">
              <h1>Qual a sua disponibilidade para ir a academia?</h1>
              <div class="radio-container">
                <label class="radio-label">
                  <input type="radio" id="novo" name="idade" value="novo" class="radio-input">
                  <span class="custom-radio"></span>
                  3x semana
                </label>

                <label class="radio-label">
                  <input type="radio" id="jovem" name="idade" value="jovem" class="radio-input">
                  <span class="custom-radio"></span>
                  4x semana
                </label>
              </div>

              <div class="radio-container">
                <label class="radio-label">
                  <input type="radio" id="adulto" name="idade" value="adulto" class="radio-input">
                  <span class="custom-radio"></span>
                  5x semana
                </label>

                <label class="radio-label">
                  <input type="radio" id="idoso" name="idade" value="idoso" class="radio-input">
                  <span class="custom-radio"></span>
                  6x semana
                </label>
              </div>
              <button class="btn-plano" (click)="irParaInforMedidasCorporais()">Próximo</button>
        </div>

       </main>
    </body>
</html>
