/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */





.container {
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
}

.container-medidas{
  width: 60%;
    height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  

}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.0rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 0.5rem;
}

.form-group label{
  color: white;
}

.group-duo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

label {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.submit-btn:hover {
  background-color: #4caf50;
}
