<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="./assets/img/favicon.ico" type="image/x-icon">
    <title>Plano de Treino</title>

    <!-- Estilos opcionais (adapte ao seu projeto) -->
    <link rel="stylesheet" href="/src/app/login/login.component.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header class="cabecalho">
        <div class="cabecalho-container">
            <a class="logo__nome">Tractor Muscle</a>
            <nav class="cabecalho__navegacao" data-navegacao>
                <div class="cabecalho__menu">
                    <i class="ri-close-line ri-lg" data-fechar></i>
                    <span class="cabecalho__item-menu--logo">
                        <img src="/src/assets/img/logotipo2.png" alt="Logo Tractor Muscle">
                    </span>
                    <a href="#tractormuscle" class="cabecalho__item-menu">
                        <button class="geral__botao primary-button">Página inicial</button>
                    </a>
                    <a href="#blog" class="cabecalho__item-menu">
                        <button class="geral__botao secundary-button">Blog</button>
                    </a>
                    <a href="#sobrenos" class="cabecalho__item-menu">
                        <button class="geral__botao secundary-button">Sobre</button>
                    </a>
                    <a href="#contato" class="cabecalho__item-menu">
                        <button class="geral__botao secundary-button">Contato</button>
                    </a>
                </div>
                <div class="menu__icon icon-menu"></div>
                <div class="menu__icon icon-close"></div>
            </nav>
        </div>
    </header>

    <main class="container">
        <div class="container-treino">
            <div class="info-box">
                <p>Gênero: {{ perfil?.genero }}</p>
                <p>Objetivo: {{ perfil?.objetivo }}</p>
                <p>Nome: {{ usuario?.nome }}</p>
                <p>Nível: Iniciante</p>
            </div>

            <div class="training-container">
                <div class="navigation">
                    <button class="btn-treino" (click)="previousTraining()">&lt;</button>
                    <h2>{{ currentTrainingTitle }}</h2>
                    <button class="btn-treino" (click)="nextTraining()">&gt;</button>
                </div>

                <div class="training-details">
                    <ul class="training">
                        <li *ngFor="let exercicio of exercicios">
                            {{ exercicio.nome }} - {{ exercicio.series }} x {{ exercicio.repeticoes }}
                        </li>
                        <li *ngIf="exercicios.length === 0">Não há exercícios</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
